@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

  
<style>
	#lovable-badge {
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 141px;
		padding: 5px 13px;
		background-color: #000;
		color: #fff;
		font-size: 12px;
		border-radius: 5px;
		font-family: sans-serif;
		display: flex;
		align-items: center;
		gap: 4px;
		z-index: 1000000;
		text-transform: none !important;
		font-feature-settings: normal !important;
		font-weight: 400 !important;
	}
</style>
